body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-x: hidden;
}

/* .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./img/image.png") no-repeat center center/cover;
    z-index: -1;
} */

.navbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(122, 120, 120);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .logo-1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    
}
.navbar .logo-2 {
    font-size: 1rem;
    font-weight: bold;
    color:#76ace5;
    margin-left:40px ;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-links li {
    margin: 0 0.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #117AEF;
}


.container{
    height: 79.8vh;
    background-image: url("./img/pizza.jpeg");
     margin-top: 0;
    padding-top: 0;
    overflow: hidden;
    /* border: 2px solid red; */
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    color: white;
}

.categorySection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    list-style: none;
    margin: 0;
    padding-bottom: 10px;
    width: 70vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
    display: flex;
    gap: 1.5rem;
}

.categories a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}
.categories a:hover {
    color: #0d0d0d;
}
.categories .button {
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    padding: 8px 10px;
    border-radius: 15px;
}
.categories .button:hover {
    color: #0d0d0d;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.search input {
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    width: 60vw;
    padding: 10px 15px;
}

.search button {
    font-size: 1rem;
    background-color: #117AEF;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 15px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;

}
.headerContainer{
    width: auto;
    margin-left: 50px;
    padding-top: 10vh; 
}

.headerContainer h1 {
    align-items: center;
    font-size: 5rem;
    height: 60px;
    font-weight: 40;
    color: black;
    justify-content: center;
}

.headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 40px;
    width: 200px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 5px;
}

.headerContainer button:hover {
    background-color: #117AEF;
    cursor: pointer;
    transition: 0.5s ease-in;
    color: black;
}






footer{
    height: 8.3vh;
    background-color: rgb(122, 120, 120);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px ;
}
footer a{
    text-decoration: none;
    color: black;
    border-bottom:2px solid black ;
}


